<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body>
    
    <div class="topnav">
         <img id="logo" src="/img/logo3.png" style="weight:70px;height:70px">
         <h1>Sahara</h1>
        <a id="home"href="/">Home</a>
        <a id="prod"href="/products">Products</a>
        <a id="reg"href="/registration">Creat Account</a>
        <a id="login"href="/login">Login</a>
    </div>
    

    <main>
        {{{body}}}
    </main>
    
</body>

<footer id="footer">
    <table style="margin-left: auto;margin-right:auto;"> 
        <tr>
            <th>Contact us</th>
            <th>About us</th>
            <th>Service</th>
            <th>Sahara Payment Products</th>
        </tr>
        <tr>
            <td id="contact">shopatsahara@gmail.com</td>
            <td id="contact">Careers</td id="contact">
            <td id="contact">Shipping and Returns</td id="contact">
            <td id="contact">Sahara Gift Card</td id="contact">
        </tr>
        <tr>
            <td>Phone: 999-999-9999</td>
            <td id="contact">Investor Relations</td>
            <td id="contact">Sell on Sahara</td>
            <td id="contact">Sahara Cash</td>
        </tr>
    </table>
</footer>
</html>